*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fc5258;
}
.A1{
    margin: 0px auto;
    background-color: brown;
}
.B1{
    margin: 0px auto;
    background-color: darkturquoise;
    float: left;
}
.B2{
    margin: 0px auto;
    background-color: blueviolet;
    float: right;
}
.B13{
    width: 85%;
    margin: 0px auto;
    padding: 3%;
    background-color: white;
    margin-top: 20%;
}

.T1 img{
    border-radius:100%;
    align-self: center;
    margin-top: 15%;
    float: left;
}

.T1{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}
.T2{
    width: 100%;
    margin-top: 13%;
}

.Y1{
    width: 50%;
    height: 90%;
    float: left;
    text-align: center;
}

.Y2{
    width: 50%;
    height: 90%;
    float: right;
    text-align: center;
}

.T3{
    margin-bottom: 8%;
}

.Q1{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    background-color: white;
}