*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fc5258;
}
.A1{
    margin: 0px auto;
    background-color: brown;
}
.B1{
    margin: 0px auto;
    background-color: darkturquoise;
    float: left;
}
.B2{
    margin: 0px auto;
    background-color: blueviolet;
    float: right;
}
.B13{
    width: 85%;
    margin: 0px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
}

.T1 img{
    width: 120px;
    height: 120px;
    border-radius:100%;
    /* border: 8px solid #FFFFFF; */
    align-self: center;
    margin-top: 30px;
    float: left;
}

.T1{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.T2{
    width: 100%;
    margin-top: 30px;
    /* 文字距离上面 */
}

.Y1{
    width: 50%;
    height: 100px;
    float: left;
    text-align: center;
}

.Y2{
    width: 50%;
    height: 100px;
    float: right;
    text-align: center;
}


/* .B12{
    width: 90%;
    height: 200px;
    margin: 0px auto;
    background-color: dodgerblue;

} */
#Q1{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}