html {
  font-size: 15px;
  /* 设置根元素的字体大小 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
/* 改变选中状态的颜色 */
}

body {
  margin: 0;
}

::selection {
  color: var(--color-theme-white);
  background: var(--color-theme-selected);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.4fr;
}

:root {
  --color-theme-white: #fff;
  --color-theme-blue-1: #66bbff;
  --color-theme-blue-2: #66ccff;

  --color-theme-grayscale1: #F4F4F4;
  --color-theme-grayscale2: #e9e9e9;
  --color-theme-grayscale3: #dddddd;
  --color-theme-grayscale4: #D2D2D2;
  --color-theme-grayscale5: #8f8f8f;
  --color-theme-grayscale6: #575757;

  --color-theme-black1: rgba(0, 0, 0, 0.25);
  --color-theme-black2: rgba(0, 0, 0, 0.38);

  --color-theme-G: #8AFF5F;
  --color-theme-Y: #FFD65F;
  --color-theme-O: #F8A978;
  --color-theme-R: #FF5F5F;
  --color-theme-selected: #FF7070;
}


/* 后面还要适配平板和手机的断点后面再写 */