html {
  font-size: 16px;
  /* 设置根元素的字体大小 */
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.5fr;
}

/* 后面还要适配平板和手机的断点后面再写 */