html {
  font-size: 15px;
  /* 设置根元素的字体大小 */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
  /* 改变选中状态的颜色 */
  font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::selection {
  color: var(--color-theme-white);
  background: var(--color-theme-selected);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr minmax(10rem, 3fr) minmax(5rem, 1.4fr);
}

/* 轮询小于1280px */
@media screen and (max-width: 1280px) {
  #app {
    grid-template-columns: 5rem minmax(10rem, 5fr) minmax(5rem, 20rem);
  }
}

/* 轮询小于1280px并且大于1000px */
@media screen and (max-width: 1024px) {
  #app {
    grid-template-columns: 5rem minmax(10rem, 5fr) 0rem;
  }
}

@media screen and (max-width: 600px) {
  #app {
    display: flex;
  }
}

:root {
  --color-theme-white: #fff;
  --color-theme-black: #000;
  --color-theme-white-2: #ffffffc0;
  --color-theme-white-3: #fffffff3;
  --color-theme-blue-1: #66bbff;
  --color-theme-blue-2: #66ccff;
  --color-theme-icon-1: #2c2c2c;

  --color-theme-frame1: #eeeeee;
  --color-theme-frame2: #d0d7de;

  --color-theme-grayscale1: #F3F3F3;
  --color-theme-grayscale2: #e9e9e9;
  --color-theme-grayscale3: #dddddd;
  --color-theme-grayscale4: #D2D2D2;
  --color-theme-grayscale5: #8f8f8f;
  --color-theme-grayscale65: #7c7c7c;
  --color-theme-grayscale6: #575757;

  --color-theme-black0: rgba(0, 0, 0, 0.05);
  --color-theme-black1: rgba(0, 0, 0, 0.25);
  --color-theme-black2: rgba(0, 0, 0, 0.38);

  --color-theme-G: #8AFF5F;
  --color-theme-Y: #FFD65F;
  --color-theme-O: #F8A978;
  --color-theme-R: #FF5F5F;

  --color-theme-msg-G: #79ff49;
  --color-theme-msg-Y: #ffd556;
  --color-theme-msg-O: #ff9e62;
  --color-theme-msg-R: #ff6d6d;

  --color-theme-selected: #FF7070;
}